<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Tracker</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
	<h1>Coronavirus Tracker</h1>

<div class="jumbotron">
  <h1 class="display-4" th:text="${totalcase}" ></h1>
  <p class="lead">Total case Reported till today</p>
   <hr class="my-4">
  <p>Reporter: Aakriti Londhe</p>
</div>

	<table>
		<tr>
			<th>State</th>
			<th>Country</th>
			<th>Total case</th>
		</tr>
		<tr th:each="locationStat : ${listLocation}">
			<td th:text="${locationStat.state}"></td>
			<td th:text="${locationStat.country}"></td>
			<td th:text="${locationStat.latestTotalCase}">0</td>
		</tr>
	</table>

</body>

</html>